html {
	background-color:#FF4800;
}

body{
	width:1000px;
	margin-left: auto;
    margin-right: auto;
	background-color:#FFFFFF;
	border-right:1px solid gray;
	border-left:1px solid gray;
	border-bottom:1px solid gray;
}

div.banner {

	height:20;
	background-image:url('banner2.png');
	margin-left: auto;
    margin-right: auto;
	text-align: right;
	color: #FFFFFF;
}

div.banner2 {
	
	height:200;
	background-image:url('blahblah.png');
	margin-left: auto;
	margin-right: auto;
}
