#bar_top{
	height:20;
	background-image:url('../images/bar_top.png');
	margin-left: auto;
    margin-right: auto;
	text-align: right;
	color: #FFFFFF;
}

#banner{
	height:200;
	background-image:url('../images/banner.png');
	margin-left: auto;
	margin-right: auto;
}

#divider{
	height:12;
	background-image:url('../images/banner_divider.png');
}
