.forcematch {
	margin-left: auto;
    margin-right: auto;
	text-align: left;
	padding:5px;
}

.forcematch tr:nth-child(odd) {
    background-color: #EDEDED;
}

.forcematch tr:nth-child(1) {
    background-color: #DDDDDD;
	color:#505050;
}

.forcematch table{
	border-collapse:collapse;
}
.forcematch table td, .forcematch table th {
	border:1px solid #5D5D5D;
	padding:1px;
	color:#555555;
}
