/*==================================================
    0. HTML5 RESET
===================================================*/

div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,hgroup,
header,menu,nav,section,footer { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

::-moz-focus-inner {
	border:0;
	padding:0;
}

/*==================================================
    1. BACKGROUND STYLES
==================================================*/

body {
    background-color:#fff;
    line-height:20px;
    font-size:12px;
    font-family:'Droid Sans', helvetica, arial, sans-serif;
    color:#ff4800;
}

/*==================================================
    2. GENERIC STYLES
==================================================*/

.wrap {
    margin:0px auto;
    width:960px;
}

.container {
	position:relative;
	overflow:hidden;
}

.content {width:570px;}

aside {width:329px;}

aside.left {
	margin-right:30px;
	padding-right:30px;
	border-right:1px dotted #d7d7d7;
}

aside.right {
	margin-left:30px;
	padding-left:30px;
	border-left:1px dotted #d7d7d7;
}

aside.no_border {border:none;}

h1, h2, h3, h4, h5, h6 {
	padding:5px 0px;
}

h1, h2, h3, h4 {
    color:#444;
    font-weight:normal;
}

h1 {line-height:28px; font-size:22px; margin-bottom:10px;}
h2 {line-height:24px; font-size:18px; margin-bottom:6px;}
h3 {line-height:21px; font-size:15px; margin-bottom:3px;}
h4 {line-height:19px; font-size:13px; margin-bottom:3px;}
h5 {line-height:16px; font-size:12px;}
h6 {line-height:15px; font-size:10px; text-transform:uppercase;}

p, ul, .tabs_container, table, pre, figure {margin-bottom:20px;}

.half p, .third p, .fourth p,
.fifth p, .sixth p, .two_third p,
.three_fourth p,
.half .note, .third .note, .fourth .note,
.fifth .note, .sixth .note, .two_third .note,
.three_fourth .note,
.half ul, .third ul, .fourth ul,
.fifth ul, .sixth ul, .two_third ul,
.three_fourth ul,
.half .tabs_container, .third .tabs_container, .fourth .tabs_container,
.fifth .tabs_container, .sixth .tabs_container, .two_third .tabs_container,
.three_fourth .tabs_container {
	margin-bottom:0px;
}

a {
	color:#f36f36;
	text-decoration:none;
	outline:none;
	cursor:pointer;
}

a:hover {color:#71a3cc;}

::-moz-selection {
	background-color:#ffdf85;
	color:#444;
}

::selection {
	background-color:#ffdf85;
	color:#444;
}

input[type=text]:hover, textarea:hover,
input:focus, textarea:focus {outline:none;}

ul {list-style:none;}

small {font-size:11px;}

.half, .third, .fourth, .fifth,
.sixth, .two_third, .three_fourth {
	position:relative;
	float:left;
	margin-right:4%;
	margin-bottom:20px;
}

.half {width:48%;}
.third {width:30.66%;}
.fourth {width:22%;}
.fifth {width:16.8%;}
.sixth {width:13.33%;}
.two_third {width: 65.33%;}
.three_fourth {width:74%;}

.last {margin-right:0px; clear:right;}

.separator {
	position:relative;
	clear:both;
	line-height:0px;
	margin:20px 0px;
	padding:20px 0px;
	background:url("../images/bg_separator.png") repeat-x center;
}

.separator.small {margin:4px 0px; padding:3px 0px;}
.separator.empty {background:none;}

.to_top {
	display:block;
	width:20px;
	height:8px;
	position:absolute;
	top:60%;
	right:0%;
	background:url("../images/btn_top.png") no-repeat 0px 0px;
	overflow:hidden;
}

.to_top:hover {background:url("../images/btn_top.png") no-repeat 0px -8px;}

.left {float:left;}
.right {float:right;}

img.left {margin:3px 15px 3px 0px;}
img.right {margin:3px 0px 3px 15px;}

.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height: 0;
}

/*==================================================
    3. HEADER STYLES
==================================================*/

/*	3.0 Top Header
--------------------------------------------------*/

header {
	padding-bottom:5px;
	margin-bottom:35px;
	background:#4b2878;
	border-bottom:1px solid #4b2878;
}

#top_header {
	padding:20px 0px;
	background-color:#2f2d2d;
	background-image:url("../images/bg_top_header.png");
	border-bottom:1px solid rgba(0,0,0,.4);
	overflow:hidden;
}

/*	3.0.0 Logo
----------------------------------------*/

#logo {float:left;}

#logo h1 {
	margin:0px; padding:0px;
	background:url(../images/logo.png) no-repeat;
	text-indent:-9999px;
	width:330px;
	height:32px;
}

/*	3.1 Bottom Header
--------------------------------------------------*/

#bottom_header {
	height:27px;
	padding:10px 0px 11px 0px;
	background-color:#4b2878;
	background: url('banner.png');
	border-top:1px solid rgba(255,255,255,.08);
}

/*	3.1.0 Top navigation
----------------------------------------*/

nav ul#top_nav {
	margin:0px;
	position:relative;
	z-index:1000;
}

nav ul#top_nav li {
	float:left;
	position:relative;
}

nav ul#top_nav li:first-child a {
	padding-left:10px;
}

nav ul#top_nav li a {
	display:block;
	padding:5px 12px 18px 12px;
	color:#aaaaaa;
	font-size:14px;
	font-family:'CabinSemiBold', helvetica, arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}

nav ul#top_nav li a:hover,
nav ul#top_nav li a:focus,
nav ul#top_nav li a.active {
	color: #ffffff;
	background: #4b2878;
}

/*	3.1.1 First level navigation
----------------------------------------*/

#top_nav li ul {
	display:none;
	position:absolute;
	left:12px;
	top:43px;
	width:156px;
	background-color:#4b2878;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

#top_nav li ul li {
	width:150px;
	padding:3px;
	line-height: 19px;
}

#top_nav li ul li:last-child {border-bottom:none;}

#top_nav li ul li a {
	display:block;
	color: #ffffff;
	padding:6px 8px;
	font-size: 12px;
	font-weight: normal;
	text-transform:none;
	text-shadow:none;
	border-radius:3px;
}

#top_nav li ul li:first-child a {padding-left:8px;}


#top_nav li ul li a:hover {
	background:#FFFFFF;
	color:#4b2878;;
}

/*	3.1.2 Lower level navigation
----------------------------------------*/

#top_nav li ul li ul.lower_level {
	display:none;
	position:absolute;
	left:150px;
	top:6px;
	border:none;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	z-index:1;
}


/*	LOGIN form
----------------------------------------*/

#loginContainer {
	color:#aaaaaa;
	font: 12px 'CabinSemiBold', helvetica, arial, sans-serif;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right; 
    position:relative;
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor: pointer;
}

/* Login Button Text */
#loginButton span {
    color:#F76900; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    display:block
}

/* Login Box */
#loginBox {
	float:right;
	position:relative;
	display:none;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}
 */
 
/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #F76900;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#F76900;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#ffffff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#aaaaaa;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #F76900;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#aaaaaa;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    color:#ffffff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #F76900;
    border:1px solid #F76900;
    background-color: #F76900;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#ffffff;
    font-size:12px;
}

input:focus {
    outline:none;
}

/*	3.1.3 Search box Form
----------------------------------------*/

#search {
	float: right;
	position: relative;
}

#search fieldset {
	padding:5px 8px;
	background-color:#4b2878;
	-moz-border-radius:3px;
	border-radius:3px;
}

#search input[type="text"] {
	margin:0px;
	padding:0px 7px 1px 0px;
	float:left;
	width:105px;
	color:#ffffff;
	background-color:#4b2878;
	border:none;
	outline:none;
	border-radius:3px;
	-webkit-transition: width 0.2s ease;
	-moz-transition: width 0.2s ease;
	-o-transition: width 0.2s ease;
	transition: width 0.2s ease;
}

#search input[type="text"]:focus {width:150px;}

#search input[type="submit"] {
	padding:0px;
	float:right;
	margin-top:3px;
	width:11px;
	height:12px;
	background:url("../images/btn_search.png") no-repeat;
	border:none;
	cursor:pointer;
}